*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    background-color: var(--color-light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-dark);
    
}
body::-webkit-scrollbar {
    display: none;
}

:root{
    --color-white: hsl(252,30%,100%);
    --color-light:hsl(252,30%,93%);
    --color-gray:hsl(252,15%,60%);
    --color-primary:hsl(252,75%,60%);
    --color-secondary:hsl(252,100%,90%);
    --color-success:hsl(120,95%,60%);
    --color-danger:hsl(0,95%,60%);
    --color-dark:hsl(252,30%,15%);
    --color-black:hsl(252,30%,8%);


    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --search-padding: .4rem 1rem;
    --card-padding: 1rem;


    --nav-narrow-width: 72px;
    --nav-medium-width: 244px;
    --nav-wide-width: 335px;
}
 
main{
    position: relative;
    background: var(--color-light);
}