
/* styling the notification  on right */
.main-middle .messages{
    height: 100%;
    margin-top: -3rem;
    margin-bottom: 1rem;
 }
 .main-middle  .messages .heading{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3rem;
    color: white;
    gap: 6rem;
   
 }
 .main-middle  .messages .heading h4{
    margin-left: 1.2rem;
 }
 .main-middle  .messages .messages-content{
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    
    height: 90%;
 }
 .main-middle  .messages .messages-content .messages-content-menu{
   
    padding: 0.5rem;
    border-bottom: 1px solid hsl(252,15%,60%);;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 1rem;
 }
 .main-middle  .messages .messages-content .info:hover{
    cursor: pointer;
 }

 .main-middle  .messages .messages-content .info .messages-info{

 display: flex;
 flex-direction: row;
 gap: 2rem;
 flex: 4;
 }
 


 .main-middle  .messages .messages-content .messages-content-menu .info{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
 }
 .main-middle  .messages .messages-content .info .messages-info p{
    margin-bottom: 0;
    line-height: normal;
    font-weight: 400;
    font-size:10px;
 }
 .main-middle  .messages .messages-content .info .messages-info .message-text{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.25rem;
 }
 .main-middle  .messages .messages-content .info .messages-info h6{
    font-size: 16px;
    margin-bottom: 0;
 }



